/* App.css */

.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-title {
  flex: 1;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}

.App-logo-container {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.App-logo {
  width: 100%;
}

.main {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar {
  flex: 1;
  text-align: left;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
}

.navbar a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}
